blinker
Bootstrap-Flask
click
Flask
Flask-CKEditor
Flask-Gravatar
Flask-Login
Flask-SQLAlchemy
Flask-WTF
itsdangerous
Jinja2
MarkupSafe
psycopg
psycopg-binary
SQLAlchemy
typing_extensions
Werkzeug
WTForms
gunicorn
sendgrid